beautifulsoup4
blockdiag
furo
livereload
matplotlib
Pillow
rstcheck
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-inline-tabs
sphinx-panels
sphinxcontrib-applehelp
sphinxcontrib-blockdiag
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
toml

